* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(54, 173, 173);
}

h1 {
    text-align: center;
    color: rgb(156, 106, 204);
    text-shadow: 1px 1px 1px black;


}

header {
    margin-top: 40px;
}

section {
    text-align: center;
    margin-top: 20px;
    width: 80%;
    max-width: 500px;
    margin-inline: auto;
    background-color: rgb(54, 173, 173);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px black;
}

.float {
    display: block;
    margin-inline: auto;
    color: rgb(156, 106, 204);
    text-shadow: 1px 1px 1px black;
    font-size: 23px;
}

h3 {
    color: rgb(156, 106, 204);
    text-shadow: 1px 1px 1px black;
    margin-bottom: 7px;
    font-size: 30px;
}

label {
    color: rgb(0, 0, 0);

}

#anonascimento {
    outline: none;
    border: none;
    background-color: rgb(54, 173, 173);
    border-bottom: solid 2px;
}

.ano {
    margin-bottom: 20px;
}

.radio {
    margin-bottom: 20px;
}

.button {
    margin-bottom: 20px;
    padding: 7px;
    border-radius: 15px;
    border: none;
    background-color: rgb(156, 106, 204);
    cursor: pointer;
}

.button:hover{
    background-color: rgb(156, 106, 204, .7);
}

img {
    border-radius: 50%;
}